/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */
nav {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #ff6f61;
}

/* About Us Section */
/* About Us Section */
.about-us {
    padding: 80px 0;
    text-align: center;
}

.about-us h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center; /* Center the heading */
}


.owner-details {
    text-align: left;
}

.owner-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.owner-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
